<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME OF EJS</title>
</head>
<body>
    <h1>Hi from ejs from controller!</h1>
    <!-- <img src="/images/louisdev.png" alt="image"> -->
    <a>Create a new user</a>
</body>
</html>